{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="/static_files/css/bootstrap.min.css" />
<link rel="stylesheet" href="/static_files/css/custom-theme/jquery-ui-1.10.0.custom.css"/>
<style>
input[type="text"], input[type="password"] {
	font-size: 16px;
	width: 180px;
}
</style>
{% endblock %}

{% block native_js %}
<script src="/static_files/js/bootstrap.min.js"></script>
<script src="/static_files/js/jquery-ui-1.10.0.custom.min.js"></script>
{% endblock %}

{% block content %}
<div class="wrap">
	<h2 style="text-align: center;">用户登录</h2>
	<div style="width: 400px; margin: 50px auto;">
	{% if form.errors %}
		<div class="alert alert-error" style="width: 280px; margin: 0px auto 30px; text-align: center;">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			&nbsp;&nbsp;&nbsp;&nbsp;用户名或密码错误，请重试！
		</div>
	{% endif %}
	<form method="post" action=".">
		{% csrf_token %}
		<table style="width: 400px;">
			<tbody>
				<tr>
					<td style="padding-bottom: 10px; width: 140px; text-align: right;">
						<label for="id_username" style="font-size:18px; ">
							<strong>用户名:&nbsp;&nbsp;</strong>
						</label>
					</td>
					<td>
						{{ form.username }}
					</td>
				</tr>
				<tr>
					<td style="padding-bottom: 10px; width: 120px; text-align: right; ">
						<label for="id_password" style="font-size:18px; ">
							<strong>密&nbsp;&nbsp;&nbsp;&nbsp;码:&nbsp;&nbsp;</strong>
						</label>
					</td>
					<td>
						{{ form.password }}
					</td>
				</tr>
				<tr>
					<td colspan="2" style="text-align: center; padding-top: 30px;">
						<button class="btn" type="submit" style="width: 80px;">登&nbsp;&nbsp;录</button>
						<div style="width: 10px; display: inline-block;">&nbsp;</div>
						<button class="btn" type="button" style="width: 80px;" onclick="location.href='/register/'">注&nbsp;&nbsp;册</button>
					</td>
				</tr>
			</tbody>
		</table>
		<input type="hidden" name="next" value="/"/>
	</form>
	</div>
</div>
{% endblock %}
