{% extends "base.html" %}

{% block style %}
<style>
input[type="text"], input[type="password"] {
	font-size: 16px;
	width: 180px;
}
#login_tbl .alert {
	margin: 0px auto 10px;
	text-align: center;
	width: 250px;
	padding-left: 10px;
	padding-right: 10px;
} 
</style>
{% endblock %}

{% block native_js%}
{% endblock %}

{% block content %}
<div class="wrap">
	<h2 style="text-align: center;">用户注册</h2>
	<!-- 不会做国际化，form.username.errors用的也很烂 -->
	<div style="width: 400px; margin: 50px auto;">
		<form method="post" action=".">
			{% csrf_token %}
			<table id="login_tbl" style="width: 400px;">
				<tbody>
					{% if form.username.errors %}
					<tr>
						<td colspan="2">
							<div class="alert alert-error">
							{% for error in form.username.errors %}
								{% if error == 'This field is required.'%}
									用户名不能为空！
								{% else %}
									{{error}}
								{% endif %}
							{% endfor %}
							</div>
						</td>
					</tr>
					{% endif %}
					<tr>
						<td style="padding-bottom: 10px; width: 140px; text-align: right;">
							<label for="id_username" style="font-size:18px; ">
								<strong>用户名:&nbsp;&nbsp;</strong>
							</label>
							<td>
								{{ form.username }}
							</td>
						</td>
					</tr>
					{% if form.email.errors %}
					<tr>
						<td colspan="2">
							<div class="alert alert-error">
							{% for error in form.email.errors %}
								{% if error == 'This field is required.'%}
									邮箱不能为空！
								{% else %}
									{{error}}
								{% endif %}
							{% endfor %}
							</div>
						</td>
					</tr>
					{% endif %}
					<tr>
						<td style="padding-bottom: 10px; width: 140px; text-align: right;">
							<label for="id_email" style="font-size:18px; ">
								<strong>邮&nbsp;&nbsp;&nbsp;&nbsp;箱:&nbsp;&nbsp;</strong>
							</label>
							<td>
								{{ form.email }}
							</td>
						</td>
					</tr>
					{% if form.password1.errors %}
					<tr>
						<td colspan="2">
							<div class="alert alert-error">
							{% for error in form.password1.errors %}
								{% if error == 'This field is required.'%}
									密码不能为空！
								{% else %}
									{{error}}
								{% endif %}
							{% endfor %}
							</div>
						</td>
					</tr>
					{% endif %}
					<tr>
						<td style="padding-bottom: 10px; width: 140px; text-align: right;">
							<label for="id_password1" style="font-size:18px; ">
								<strong>密&nbsp;&nbsp;&nbsp;&nbsp;码:&nbsp;&nbsp;</strong>
							</label>
							<td>
								{{ form.password1 }}
							</td>
						</td>
					</tr>
					{% if form.password2.errors %}
					<tr>
						<td colspan="2">
							<div class="alert alert-error">
							{% for error in form.password2.errors %}
								{% if error == 'This field is required.'%}
									密码不能为空！
								{% else %}
									{{error}}
								{% endif %}
							{% endfor %}
							</div>
						</td>
					</tr>
					{% endif %}
					<tr>
						<td style="padding-bottom: 10px; width: 140px; text-align: right;">
							<label for="id_password2" style="font-size:18px; ">
								<strong>确认密码:&nbsp;&nbsp;</strong>
							</label>
							<td>
								{{ form.password2 }}
							</td>
						</td>
					</tr>
					<tr>
						<td colspan="2" style="text-align: center; padding-top: 30px;">
							<button class="btn" type="submit" style="width: 80px;">注&nbsp;&nbsp;册</button>
							<div style="width: 10px; display: inline-block;">&nbsp;</div>
							<button class="btn" type="button" style="width: 80px;" onclick="window.location.href='/login/'">返&nbsp;&nbsp;回</button>
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
</div>
{% endblock %}
