<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="/static_files/css/bootstrap.min.css" />
<link style="text/css" rel="stylesheet" href="/static_files/css/style.css" />
{% block style %}{% endblock %}
<script type="text/javascript" src="/static_files/js/jquery.js"></script>
<script type="text/javascript" src="/static_files/js/ajaxsetup_for_django.js"></script>
<script src="/static_files/js/bootstrap.min.js"></script>
<script>
$(function(){
	$.getJSON('/checkVersionAndEnv/', function(data){
		if(data.environment) {
			var envLogo = data.environment.toUpperCase()
			$('#env_logo').html(envLogo.toUpperCase());
			if(envLogo == 'ERROR'){
				$('#env_logo').css({color: 'red'});
			}
		}
	});
	
	$('#env_logo').click(function(){
		$.getJSON('/checkVersionAndEnv/', function(data){
			if(data.version && data.environment){
				var str = '代码发布系统 V' + data.version + '\n'
					+ '当前发布环境 ' + data.environment;
				if(data.environment == 'error'){
					str += '\n请查看发布系统所在服务器的hostname!'
				}
				alert(str);
			}
		});
	});
	// 如果测试环境未基于最新的备份源，则在页面上进行闪烁提示
	/*$.getJSON('/hasNewBackupSourceForCurrentEnv/', function(data){
		if(!data || !data.hasNew) {
			return;
		}
		$('#tipWrap').show();
		var blink = (function($blinkContent){
			var targetOpacity = 1;
			var blinkExec = function(){
				targetOpacity = (targetOpacity + 1) % 2;
				$blinkContent.animate({
					opacity: targetOpacity,
					easing: 'linear'
				}, 500, function(){
					if(targetOpacity == 1){
						setTimeout(blinkExec, 300);
					} else {
						blinkExec();
					}
				});
			}
			return blinkExec;
		})($('#tipContent'));
		blink();
	});*/
	
	$.getJSON('/hasNewBackupSourceForCurrentEnv/', function(data){
		if(!data || !data.hasNew) {
			return;
		}
		$('#tipWrap').css({visibility:''});
	});
	
});
</script>
{% block native_js %}{% endblock %}
</head>
<body>
<div id="nav">
	<span class="env_logo" id="env_logo"></span>&nbsp;
	{% if user.is_authenticated %}
		<a href="/">首页</a> |
		<a href="/user/{{user.username}}">{{ user.username }}</a> |
		<a href="/logout">退出</a>
	{% else %}
		<a href="/login">登录</a> |
		<a href="/register">注册</a>
	{% endif %}
</div>
<!--div id="tipWrap" style="padding-top: 25px; text-align: center; color: red; _visibility: hidden">
	<h2 id="tipContent">
		在补丁上线前，请务必用最新备份源【重置】当前测试环境，并重新发布补丁进行测试！
	</h2>
</div-->
<div id="tipWrap" class="alert alert-error" style="font-size: 20px; width: 820px; text-align:center; margin: 20px auto 20px; visibility: hidden">
		在补丁上www前，请务必用最新备份源【重置】当前测试环境，并重新发布补丁进行测试！
</div>
{% block content %}{% endblock %}
<!-- footer -->
<div style="height:40px;"></div>
</body>
</html>
