{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="/static_files/css/bootstrap.min.css" />
<link rel="stylesheet" href="/static_files/css/custom-theme/jquery-ui-1.10.0.custom.css"/>
<style>
.table > thead {
	background-color: #eee;
}
.alert {
	font-size: 16px;
}
</style>
{% endblock %}

{% block native_js %}
<script src="/static_files/js/ajaxfileupload.js"></script>
<script src="/static_files/js/bootstrap.min.js"></script>
<script src="/static_files/js/jquery-ui-1.10.0.custom.min.js"></script>
<script src="/static_files/js/bootstrapFileInput.js"></script>
<script>
$(function(){
	var csrfToken = $('input[name=csrfmiddlewaretoken]').val();
	// 初始化文件上传控件, ie下貌似还是有问题
	$('#fileuploadWidget').bootstrapFileInput({
		width: '500px',
		btnWidth: '80px',
		fileInputId: 'deployItemField',
		fileInputName: 'deployItemField'
	});
	// 无宕机选项
	if('{{project.name}}' == 'as-web'){
		$('#serverGroupWrap').show();
	} 
	$('#uploadBtn').click(function(){
		var $this = $(this);
		var deployItemName = $('#deployItemField').val();
		if(!deployItemName){
			alert('请先选择要上传的文件!');
			return false;
		}
		// static的情形只能发版本，上传tar.gz包
		{% if project.name != 'as-static'%}
		if('{{deployType}}' == 'patch' && !(/.zip$/i).test(deployItemName)){
			alert('请选择zip压缩格式的补丁文件!');
			return false;
		}
		if('{{deployType}}' == 'war' && !(/.war$/i).test(deployItemName)){
			alert('请选择war包进行上传!');
			return false;
		}
		{% else %}
		if(!(/.tar.gz/i).test(deployItemName)) {
			alert('请注意，【static】工程只能上传tar.gz包发版本!!!\请不要发补丁!!!');
			return false;
		}
		{% endif %}
		$this.html('上传中').attr({disabled: true});
		var $uploadResultWrap = $('#uploadResultWrap');
		$.ajaxFileUpload({
			url: '/uploadDeployItem/',
			secureuri: false, 
			fileElementId:'deployItemField',
			dataType: 'json',
			data: {
				csrfmiddlewaretoken: csrfToken,
				projId: '{{project.id}}',
				version: '{{version}}',
				deployType: '{{deployType}}',
				recordId: '{{record.id}}',
				patchGroupId: '{{patchGroupId}}'
			},
			success: function (data, status){
				if(typeof data == 'object' && data.isSuccess === true){
					var sizeUnits = ['byte', 'kb', 'MB', 'GB']
					var size = data.size;
					for(i=0; i <=sizeUnits.length && size > 1024; size = (size/1024).toFixed(2), i++);
					var sizeStr = size + sizeUnits[i];
					showAlert($uploadResultWrap, [
						'文件上传成功!',
						'文  件  名: <strong>' + data.filename + '</strong>',
						'文件大小: <strong>' + sizeStr + '</strong>'
					].join('<br/>'), 'success');
				}else{
					this.error(data, status);
					return;
				}
				$this.html('上&nbsp;&nbsp;传').attr({disabled: false});
			},
			error: function(data, status, e){
				showAlert($uploadResultWrap, data.errorMsg || '文件上传失败!', 'error');
				$this.html('上&nbsp;&nbsp;传').attr({disabled: false});
			}
		});
		return false;
	});
	
	if('{{deployType}}' == 'war'){
		$('#decompressBtn').attr({disabled: true}).css({display: 'none'});
		$('#fileListWrap').css({display: 'none'});
		$('#conflictFileInfoWrap').css({display: 'none'});
	}
	$('#decompressBtn').click(function(){
		$('#decompressBtn').html('解&nbsp;压&nbsp;中').attr({disabled:true});
		
		$.post('/decompressItem/', {
			recordId: '{{record.id}}',
			patchGroupId: '{{patchGroupId}}'
		}, function(data){
			$('#decompressBtn').html('解压补丁文件').attr({disabled:false});
			var result = null;
			try{
				result = $.parseJSON(data);
			}catch(e) {
			}
			if(result && result.isSuccess === true){
				if(result.readme){
					$('#readmeContent').html(result.readme);
				}
				$fileListTblBody = $('#fileListTbl').children('tbody');
				$fileListTblBody.children().remove();
				if($.isArray(result.fileList)){
					for(var i=0, l=result.fileList.length; i<l; i++){
						$fileListTblBody.append('<tr><td>' + result.fileList[i] + '</td></tr>')
					}
				}
				
				var $conflict_tbl = $('#conflictFileInfoTbl');
				var $conflict_tbody = $conflict_tbl.children('tbody').children().remove().end();
				var conflict_file_info_list = result.conflict_file_info_list;
				var conflict_dict = {};
				if($.isArray(conflict_file_info_list)){
					for(var i=0, l=conflict_file_info_list.length; i<l; i++){
						$conflict_tbody.append(
							$('<tr>').append('<td>' + conflict_file_info_list[i].file_path + '</td>')
								.append('<td>' + conflict_file_info_list[i].conflict_patch_group_name + '</td>')
						);
						conflict_dict[conflict_file_info_list[i].file_path] = true
					}
				}
				$fileListTblBody.find('tr td:nth-child(1)').each(function(i, v){
					if(conflict_dict[v.innerHTML] === true) {
						$(v).parent().addClass('error');
					}
				});
				alert('解压缩成功!');
			}else{
				alert('解压缩失败!')
			}
		})
	});
	
	// 发布启动和状态相关
	
	function showAlert(wrap, msg, status, closable){
		var $wrap = $.type(wrap) == 'string'? $('#' + wrap): wrap;
		if($wrap.size() == 0) {
			return;
		}
		$wrap.children().remove();
		var $alert = $('<div class="alert">');
		$alert.html(msg);
		if(closable !== false) {
			$alert.prepend('<button type="button" class="close" data-dismiss="alert">&times;</button>');
		}
		if(status) {
			$alert.addClass('alert-' + status);
		}
		$wrap.append($alert);
	}
	
	$('#startBackupBtn').click(function(){
		var $this = $(this);
		$('#startDeployBtn').attr({disabled: true});
		$('#startRollbackBtn').attr({disabled: true});
		$this.html('补丁组发布中').attr({disabled: true});
		$.post('/startDeploy/', {
			recordId: '{{record.id}}',
			deployType: '{{deployType}}',
			serverGroup: $('#serverGroupSel').val(),	// 这个参数在此处没用
			patchGroupId: '{{patchGroupId}}',
			deployDirect: 'backup'
		}, function(data){
			var result = null;
			try{
				result = $.parseJSON(data);
			} catch (e) {}
			if(!result || result.beginDeploy != true) {
				alert('补丁组发布启动失败!');
				failedInDeployProcess(result.errorMsg);
				return;
			} else {
				showAlert('deployStatus', '补丁组发布启动成功', 'info');
				$('#logContent').html('');
			}
			var logReadInterval = 1500;
			setTimeout(readLogOnRealtime, logReadInterval);
			function readLogOnRealtime(){
				$.getJSON('/readDeployLogOnRealtime/', {
					recordId: '{{record.id}}'
				}, function(data){
					if(!data){
						alert('日志实时读取出错了!');
						failedInDeployProcess();
						return;
					}
					if(data.isFinished === true){
						alert('补丁组发布已完成!');
						$('#startDeployBtn').attr({disabled: false});
						$('#startRollbackBtn').attr({disabled: false});
						$('#startBackupBtn').html('补丁组发布').attr({disabled: false});
						if(data.deployResult === true){
							showAlert('deployStatus', '补丁组发布成功', 'success');
						}else{
							showAlert('deployStatus', '补丁组发布失败', 'error');
						}
						return;
					}
					if(!data.isFinished){
						$logContent = $('#logContent');
						var newLogInfoArr = [];
						if(data.logInfo && data.logInfo.length){
							for(var i=0; i<data.logInfo.length; i++){
								newLogInfoArr.push(data.logInfo[i]);
							}
						}
						$logContent.html($logContent.html() + '<br/>' + newLogInfoArr.join('<br/>'));
						$logContent.scrollTop($logContent[0].scrollHeight - $logContent.height());
						setTimeout(readLogOnRealtime, logReadInterval)
					}
				});
			}
		});
		
		function failedInDeployProcess(errorMsg){
			var tip = errorMsg? ' [ ' + errorMsg + ' ] ' : '';
			$('#startDeployBtn').attr({disabled: false});
			$('#startRollbackBtn').attr({disabled: false});
			$('#startBackupBtn').attr({disabled: false});
			showAlert('deployStatus', '补丁组发布失败，请重新发布', 'error');
		}
		
	});
	
	$('#startDeployBtn').click(function(){
		var $this = $(this);
		$this.html('发布中').attr({disabled: true});
		$('#startRollbackBtn').attr({disabled: true});
		$('#startBackupBtn').attr({disabled: true});
		$.post('/startDeploy/', {
			recordId: '{{record.id}}',
			deployType: '{{deployType}}',
			serverGroup: $('#serverGroupSel').val(),
			patchGroupId: '{{patchGroupId}}'
		}, function(data){
			var result = null;
			try{
				result = $.parseJSON(data);
			}catch(e) {
			}
			if(!result || result.beginDeploy !== true){
				alert('发布启动失败!');
				failedInDeployProcess(result.errorMsg);
				return;
			}else{
				showAlert('deployStatus', '发布启动成功', 'info');
				$('#logContent').html('');
			}
			var logReadInterval = 1500;
			setTimeout(readLogOnRealtime, logReadInterval);
			function readLogOnRealtime(){
				$.getJSON('/readDeployLogOnRealtime/', {
					recordId: '{{record.id}}'
				}, function(data){
					if(!data){
						alert('日志实时读取出错了!');
						failedInDeployProcess();
						return;
					}
					if(data.isFinished === true){
						alert('发布已完成!');
						$('#startDeployBtn').html('重新发布').attr({disabled: false});
						$('#startRollbackBtn').attr({disabled: false});
						$('#startBackupBtn').attr({disabled: false});
						if(data.deployResult === true){
							showAlert('deployStatus', '发布成功', 'success');
						}else{
							showAlert('deployStatus', '发布失败', 'error');
						}
						return;
					}
					if(!data.isFinished){
						$logContent = $('#logContent');
						var newLogInfoArr = [];
						if(data.logInfo && data.logInfo.length){
							for(var i=0; i<data.logInfo.length; i++){
								newLogInfoArr.push(data.logInfo[i]);
							}
						}
						$logContent.html($logContent.html() + newLogInfoArr.join('<br/>'));
						$logContent.scrollTop($logContent[0].scrollHeight - $logContent.height());
						setTimeout(readLogOnRealtime, logReadInterval)
					}
				});
			}
		});
		
		function failedInDeployProcess(errorMsg){
			var tip = errorMsg? ' [ ' + errorMsg + ' ] ' : '';
			$('#startDeployBtn').html('重新发布').attr({disabled: false});
			$('#startRollbackBtn').attr({disabled: false});
			$('#startBackupBtn').attr({disabled: false});
			showAlert('deployStatus', '发布失败，请重新发布' + tip, 'error');
		}
	});
	
	if('{{deployType}}' == 'war'){
		$('#startRollbackBtn').attr({disabled: true}).css({display: 'none'});
		$('#startBackupBtn').attr({disabled: true}).css({display: 'none'});
	}
	$('#startRollbackBtn').click(function(){
		var $this = $(this);
		$this.html('回滚中').attr({disabled: true});
		$('#startDeployBtn').attr({disabled: true});
		$('#startBackupBtn').attr({disabled: true});
		$.post('/startRollback/', {
			recordId: '{{record.id}}',
			deployType: '{{deployType}}',
			serverGroup: $('#serverGroupSel').val(),
		}, function(data){
			var result = null;
			try{
				result = $.parseJSON(data);
			}catch(e) {
			}
			if(!result || result.beginDeploy !== true){
				alert('回滚启动失败!');
				failedInDeployProcess(result.errorMsg);
				return;
			}else{
				showAlert('deployStatus', '回滚启动成功', 'info');
				$('#logContent').html('');
			}
			var logReadInterval = 1500;
			setTimeout(readLogOnRealtime, logReadInterval);
			function readLogOnRealtime(){
				$.getJSON('/readDeployLogOnRealtime/', {
					recordId: '{{record.id}}'
				}, function(data){
					if(!data){
						alert('日志实时读取出错了!');
						failedInDeployProcess();
						return;
					}
					if(data.isFinished === true){
						alert('回滚已完成!');
						//TODO
						$this.val('回滚').attr({disabled: false});
						$('#startDeployBtn').attr({disabled: false});
						$('#startBackupBtn').attr({disabled: false});
						if(data.deployResult === true){
							showAlert('deployStatus', '回滚成功', 'success');
						}else{
							showAlert('deployStatus', '回滚失败', 'error');
						}
						return;
					}
					if(!data.isFinished){
						$logContent = $('#logContent');
						var newLogInfoArr = [];
						if(data.logInfo && data.logInfo.length){
							for(var i=0; i<data.logInfo.length; i++){
								newLogInfoArr.push(data.logInfo[i]);
							}
						}
						$logContent.html($logContent.html() + newLogInfoArr.join('<br/>'));
						$logContent.scrollTop($logContent[0].scrollHeight - $logContent.height());
						setTimeout(readLogOnRealtime, logReadInterval)
					}
				});
			}
		});
		
		function failedInDeployProcess(errorMsg){
			var tip = errorMsg? ' [ ' + errorMsg + ' ] ' : '';
			$('#startRollbackBtn').val('回滚').attr({disabled: false});
			$('#startDeployBtn').attr({disabled: false});
			$('#startBackupBtn').attr({disabled: false});
			showAlert('deployStatus', '回滚失败，请重新发布' + tip, 'error');
		}
	});
	
	$('#unlockAndLeave').click(function(){
		if(!confirm('确认要解锁本次发布并离开?')){
			return;
		}
		window.onbeforeunload = null;
		location.href = '/unlockDeploy';
	});
	
});
window.onbeforeunload = function(){
	var alarmStr = '发布过程中，请不要离开!\n请点击 [ 取消 ] 或 [ 留在此页 ] ';
	if($.browser.mozilla === true && !confirm(alarmStr)){
		return false;
	}
	window.event.returnValue = alarmStr;
	return alarmStr;
};

// 查看磁盘挂载情况，如果挂载不上，给出提示
function checkServerStatusForProject(projectName){
	if(!projectName){
		alert('工程参数有误！');
		return;
	}
	$.getJSON('/checkServerStatusForProject/' + projectName + '/', function(serverStatus){
		if(!serverStatus){
			alert('磁盘挂载检查失败！')
			return;
		}
		if(serverStatus.available){
			if(serverStatus['servers'][0]['status'] == 'lackOfSpace'){
				var availSpace = serverStatus['servers'][0]['avail_space'];
				alert('/d/content空间已不足\n目前可用空间为' + availSpace);
			}
			return;
		}
		if(serverStatus.available === false){
			if(serverStatus.servers.length == 0){
				alert('工程名称或者配置信息有误！');
				return;
			}
			var msgArr = ['/d/content磁盘在以下服务器上挂载失败!'];
			for(var i=0, l = serverStatus.servers.length; i<l; i++){
				var server = serverStatus.servers[i];
				server.status == 'error' && msgArr.push(server.server_name + '挂载磁盘失败');
			}
			alert(msgArr.join('\n'));
			return;
		}
	});
}
$(function(){
	//checkServerStatusForProject('{{project.name}}');
});
</script>
{% endblock %}

{% block content %}
{% csrf_token %}

<div class="wrap">
	<h2 style="text-align: center;">发布工程</h2>
	<div style="width: 490px; text-align: left; margin:30px auto 10px;">
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td>发布工程:</td>
					<td>{{project.name}}</td>
				</tr>
				<tr>
					<td>版本号:</td>
					<td>{{version}}</td>
				</tr>
				<tr>
					<td>发布方式:</td>
					<td>{{deployType}}</td>
				</tr>
				<tr>
					<td>补丁分组:</td>
					<td>
					{% if patchGroup %}
						{{patchGroup.name}} ({{patchGroup.check_code}})
					{% else %}
						无
					{% endif %}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div style="width: 800px; margin: 20px auto 10px;">
		<table style="width: 800px; margin: 30px auto;">
			<tbody>
				<tr id="serverGroupWrap" style="display: none;">
					<td style="width: 170px; font-size: 16px; padding-bottom: 10px;">
						<strong>无宕机选项:&nbsp;&nbsp;</strong>
					</td>
					<td>
						<select id="serverGroupSel" style="font-size: 16px;">
							<option value="ab" selected="selected">全部</option>
							<option value="a">a组</option>
							<option value="b">b组</option>
						</select>
					</td>
				</tr>
				<tr>
					<td style="font-size: 16px; padding-bottom: 10px;">
						<strong>上传文件:&nbsp;&nbsp;</strong>
					</td>
					<td>
						<div style="display: inline-block;" id="fileuploadWidget"></div>
						<div style="display:inline-block;">
							<button type="button" id="uploadBtn" class="btn btn-primary" style="width: 80px; margin-bottom: 10px;">上&nbsp;&nbsp;传</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
		
		<!-- 显示补丁或war的上传结果 -->
		<div id="uploadResultWrap" style="text-align: center;"></div>
	
		<div style="text-align: center;">
			<button type="button" class="btn btn-primary" id="decompressBtn">解压补丁文件</button>
		</div>
		
		<!-- readme 显示 -->
		<h3>README</h3>
		<pre id="readmeContent" style="width: 781px; height: 280px; overflow: auto; font-size: 15px;">{{readmeContent}}</pre>
		
		<!-- 文件列表 -->
		<div id="fileListWrap">
			<h3>文件列表</h3>
			<table id="fileListTbl" class="table table-bordered table-condensed table-hover table-striped" style="width: 800px;;">
				<thead>
					<tr><th>文件路径</th></tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
		
		
		<!-- 文件冲突列表 -->
		<div id="conflictFileInfoWrap">
			<h3>冲突详情</h3>
			<table id="conflictFileInfoTbl" class="table table-bordered table-condensed table-hover table-striped" style="width: 800px;">
				<thead>
					<tr>
						<th width="600">文件路径</th>
						<th width="200">冲突补丁组</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
		
		<!-- 发布按钮 -->
		<div id="deployBtnWrap" style="text-align: center;">
			<button type="button" class="btn btn-primary" style="width:100px; margin: 0px 10px;" id="startDeployBtn">发&nbsp;&nbsp;布</button>
			<button type="button" class="btn btn-primary" style="width:100px; margin: 0px 10px;" id="startRollbackBtn">回&nbsp;&nbsp;滚</button>
			{% if patchGroup and patchGroup.status == 'testing' %}
				{% if user.is_superuser %}
				<button type="button" class="btn btn-primary" style="width: 120px; margin: 0px 10px;" id="startBackupBtn">补丁组发布</button>
				{% endif %}
			{% endif %}
			<div style="margin-top: 20px;" id="deployStatus"></div>
		</div>
		
		<!-- 文件冲突列表 -->
		<h3>日志</h3>
		<pre id="logContent" style="width: 781px; height: 400px; overflow: auto; font-size: 15px;"></pre>
		<div style="text-align: center; margin: 30px auto;">
			<button type="button" class="btn btn-primary" id="unlockAndLeave">解锁并返回首页</button>
		</div>
	</div>
</div>
{% endblock %}
