{% extends "base.html" %}
{% block style %}
<style>
.table thead {
	background-color: #eee;
}
</style>
{% endblock %}
{% block native_js %}
<script>
$(function(){
	highlightConflict();
	$('#ignoreResetBtn').click(function(){
		if(!confirm('确认要忽略本次重置发布')){
			return;
		}
		$.post('/ignoreResetRecord/', {
			recordId: '{{record.id}}'
		}, function(data){
			var result = $.parseJSON(data);
			if(result && result.isSuccess === true) {
				alert('重置发布忽略成功!');
				window.location.reload();
			} else {
				alert(result.errorMsg || '重置发布忽略失败!');
			}
		});
	})
});

function highlightConflict(){
	var conflictDict = {}
	$('#conflictTbl').children('tbody').find('tr td:nth-child(1)').each(function(i, v){
		conflictDict[v.innerHTML] = true;
	});
	$('#fileListTbl').children('tbody').find('tr td:nth-child(1)').each(function(i, v){
		if(conflictDict[v.innerHTML]){
			$(v).parent().addClass('error');
		}
	})
}
</script>
{% endblock %}
{% block content %}
<div class="wrap">
	<h2 style="text-align: center;">发布详情</h2>
	<div style="width: 500px; text-align: center; margin: 30px auto 10px;">
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td style="width: 120px;">发布者:</td>
					<td>{{record.user.username}}</td>
				</tr>
				<tr>
					<td>发布类型:</td>
					<td>{{record.deploy_item.deploy_type}}</td>
				</tr>
				<tr>
					<td>发布结果:</td>
					<td>{{record.status}}</td>
				</tr>
				<tr>
					<td>上传文件名:</td>
					<td>{{record.deploy_item.file_name}}</td>
				</tr>
				{% if record.deploy_item.patch_group %}
				<tr>
					<td>所属补丁组:</td>
					<td>{{record.deploy_item.patch_group.name}}</td>
				</tr>
				{% endif%}
			</tbody>
		</table>
		{% if record.status == 'reset_success' %}
		<button id="ignoreResetBtn" type="button" class="btn btn-primary">重置忽略</button>
		{% endif %}
	</div>
	
	<div style="width: 800px; margin: 10px auto 10px;">
		<h3>README</h3>
		<pre style="height: 300px; overflow: auto; font-size:15px;">{{readme}}</pre>
		
		<h3>发布文件列表</h3>
		<table id="fileListTbl" class="table table-bordered table-condensed table-hover table-striped" style="width: 100%;">
			<thead>
				<tr><th>文件路径</th></tr>
			</thead>
			<tbody>
			{% for file_path in file_list %}
				<tr>
					<td>{{file_path}}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		
		{% if record.is_conflict_with_others and conflict_detail %}
		<h3>文件冲突详情</h3>
		<table id="conflictTbl" class="table table-bordered table-condensed table-hover table-striped" style="width: 100%;">
			<thead>
				<tr>
					<th width="400">文件名</th>
					<th width="60">类型</th>
					<th width="150">冲突组名</th>
					<th width="60">组状态</th>
				</tr>
			</thead>
			<tbody>
			{% for conflict_info in conflict_detail.conflict_infos.all %}
				<tr>
					<td>{{conflict_info.conflict_patch_file.file_path}}</td>
					<td>{{conflict_info.conflict_patch_file.file_type}}</td>
					<td>{{conflict_info.conflict_patch_group.name}}</td>
					<td>
					{% if conflict_info.conflict_patch_group.status == 'created' %}
						已创建
					{% endif %}
					{% if conflict_info.conflict_patch_group.status == 'testing' %}
						测试中
					{% endif %}
					{% if conflict_info.conflict_patch_group.status == 'stoped' %}
						已停止
					{% endif %}
					{% if conflict_info.conflict_patch_group.status == 'finished' %}
						已终结
					{% endif %}
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		{% endif %}
	</div>
</div>
{% endblock %}
