{% extends "base.html" %}
{% block style %}
<link rel="stylesheet" href="/static_files/css/bootstrap.min.css" />
<link rel="stylesheet" href="/static_files/css/custom-theme/jquery-ui-1.10.0.custom.css"/>
<link type="text/css" rel="stylesheet" href="/static_files/css/dplPageBar.css"/>
<style>
	form label {
		font-size: 16px;
	}
	.table th, .table td {
		text-align: center;
	}
</style>
{% endblock %}

{% block native_js %}
<script src="/static_files/js/bootstrap.min.js"></script>
<script src="/static_files/js/jquery-ui-1.10.0.custom.min.js"></script>
<script src="/static_files/js/i18n/jquery.ui.datepicker-zh-CN.js"></script>
<script type="text/javascript" src="/static_files/js/dplPageBar.js"></script>
<script>
$(function(){
	initQueryArea();
});

function initQueryArea(){
	initDateQueryFields();
	
	$('#project').val('{{query_params.project}}');
	$('#deployType').val('{{query_params.deploy_type}}');
	
	// 新的查询，必须保证是第一页
	$('#queryBtn').click(function(){
		var recordForm = $('#deploy_record_query_form');
		recordForm.attr({action: '/deployRecordList/1/'});
		recordForm.submit();
		return false;
	});
	
	// 清除查询条件，必须保证是第一页
	$('#clearQueryBtn').click(function(){
		$('#username').val('');
		$('#deployType').val('');
		$('#project').val(0);
		$('#version').val('');
		$('#startTime').val('');
		$('#endTime').val('');
		var recordForm = $('#deploy_record_query_form');
		recordForm.attr({action: '/deployRecordList/1/'});
		recordForm.submit();
		return false;
	});
}

function initDateQueryFields(){
	$.datepicker.setDefaults($.datepicker.regional['zh-CN']);
	var baseDatePickerOption = {
		dateFormat: 'yy-mm-dd',
		changeYear: true
	};
	$('#startTime').datepicker($.extend({}, baseDatePickerOption, {
		onSelect: function(selectedDate){
			var instance = $( this ).data( "datepicker" );
			var date = $.datepicker.parseDate(
				instance.settings.dateFormat || $.datepicker._defaults.dateFormat, 
				selectedDate, 
				instance.settings);
			$('#endTime').datepicker('option', {
				minDate: date
			});
		}
	}));
	$('#endTime').datepicker($.extend({}, baseDatePickerOption,{
		onSelect: function(selectedDate){
			var instance = $( this ).data( "datepicker" );
			var date = $.datepicker.parseDate(
				instance.settings.dateFormat || $.datepicker._defaults.dateFormat, 
				selectedDate, 
				instance.settings);
			$('#startTime').datepicker('option', {
				maxDate: date
			});
		}
	}));
}
</script>
{% endblock %}

{% block content %}
<div class="wrap">
	<h2 style="text-align: center;">发布历史列表</h2>
	
	<div style="width: 700px; margin: 20px auto 10px;">
		<form id="deploy_record_query_form" style="margin-bottom: 0px;" action="." method="post">
			{% csrf_token %}
			<table style="width: 100%; margin: 0px auto;">
				<tr>
					<td style="text-align: right;">
						<label>
							<strong>用户名:&nbsp;</strong>
						</label>
					</td>
					<td style="width: 25%;">
						<input id="username" name="username" type="text" class="input-medium" value="{{query_params.username}}" />
					</td>
					<td style="text-align: right;">
						<label>
							<strong>发布类型:&nbsp;</strong>
						</label>
					</td>
					<td>
						<select name="deployType" id="deployType" class="input-medium" style="width: 160px;">
							<option value="">全部</option>
							<option value="war">war包</option>
							<option value="patch">补丁</option>
						</select>
					</td>
				</tr>
				<tr>
					<td style="text-align: right;">
						<label>
							<strong>工程:&nbsp;</strong>
						</label>
					</td>
					<td>
						<select name="project" id="project" class="input-medium" style="width:160px;">
							<option value="0">全部</option>
							{% for project in projects %}
								<option value="{{project.id}}">{{project.name}}</option>
							{% endfor%}
						</select>
					</td>
					<td style="text-align: right;">
						<label>
							<strong>版本:&nbsp;</strong>
						</label>
					</td>
					<td>
						<input id="version" name="version" type="text" class="input-medium" value="{{query_params.version}}" />
					</td>
				</tr>
				<tr>
					<td style="text-align: right;">
						<label>
							<strong>开始时间:&nbsp;</strong>
						</label>
					</td>
					<td>
						<input name="startTime" id="startTime" type="text" class="input-medium" value="{{query_params.start_time}}"/>
					</td>
					<td style="text-align: right;">
						<label>
							<strong>结束时间:&nbsp;</strong>
						</label>
					</td>
					<td>
						<input name="endTime" id="endTime" type="text" class="input-medium" value="{{query_params.end_time}}"/>
					</td>
				</tr>
				<tr>
					<td colspan="4" style="text-align: center;">
						<button id="queryBtn" type="button" class="btn btn-primary" style="width: 82px;">&nbsp;查&nbsp;&nbsp;询&nbsp;</button>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<button id="clearQueryBtn" type="button" class="btn">清除条件</button>
					</td>
				</tr>
			</table>
		</form>
	</div>
	
	<hr/>
	
	<div style="width:1250px; margin: 10px auto 20px;">
		<div class="row-fluid">
			<div class="span12">
				<table class="table table-bordered table-condensed table-hover" style="width: 100%;">
					<thead>
						<tr>
							<th width="40">ID</th>
							<th width="100">用户名</th>
							<th width="180">发布日期</th>
							<th width="120">工程</th>
							<th width="80">版本</th>
							<th width="80">类型</th>
							<th width="300">文件名</th>
							<th width="100">发布状态</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody>
						{% for record in records %}
							<tr
							{% if record.is_conflict_with_others and record.status != 'backup_success' %}
								class="error"
							{% endif %}
							{% if record.status == 'backup_success'%}
								class="success"
							{% endif %}
							{% if record.status == 'reset_success'%}
								class="info"
							{% endif %}
							{% if record.status == 'reset_ignored'%}
								class="warning"
							{% endif %}
							>
								<td>{{record.id}}</td>
								<td>{{record.user.username}}</td>
								<td>{{record.formated_create_time}}</td>
								<td>{{record.project.name}}</td>
								{% if record.deploy_item %}
									<td>{{record.deploy_item.version}}</td>
									<td>{{record.deploy_item.deploy_type}}</td>
									<td>{{record.deploy_item.file_name}}</td>
								{% else %}
									<td>None</td>
									<td>None</td>
									<td>None</td>
								{% endif %}
								<td>{{record.status}}</td>
								<td>
									{% if record.deploy_item %}
										<a href="/deployRecordDetail/{{record.id}}/">查看详情</a>
									{% endif %}
								</td>
							</tr>
							{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}
