{% extends "base.html" %}
{% block style %}
<style>
	div.wrap {
		text-align: center;
		padding-top: 50px;
	}
	ul.opt_list {
		margin: 0px auto;
		width: 300px;
	}
	ul.opt_list li{
		list-style: none;
		display: block;
		width: 200px;
		margin: 20px;
		font-size: 20px;
		float: left;
	}
	.lock_prompt {
		font-size: 20px;
		color: red;
		font-weight: bolder;
	}
	.lock_prompt a {
		color: red;
	}
	.lock_prompt input {
		font-size: 18px;
	}
</style>
{% endblock %}

{% block native_js %}
<script>
$(function(){
	$('#unlock_deploy_btn').click(function(){
		location.href = '/unlockDeploy';
	});
})
</script>
{% endblock %}

{% block content %}
	<div class="wrap">
		<h1>welcome
		{% if user %}{{user.username}}{% endif %}
		</h1>
		<div style="height: 80px">
			{% if curLock %}
				<span class="lock_prompt">
					发布流程已被[{{curLock.user.username}}]锁定
					{% if user.id == curLock.user.id or user.is_superuser %}
						<br/><br/>
						<input type="button" value="解锁" id="unlock_deploy_btn"/>
					{% endif %}
				</span>
			{% endif %}
		</div>
		
		<div>
			<ul class="opt_list">
				<li>
					<a href="/deployInitOption/">新的发布</a>
				</li>
				<li>
					<a href="/deployRecordList/1/">查看发布历史</a>
				</li>
				<li>
					<a href="/showOnlineFile/">编辑线上文件</a>
				</li>
				{% if user %}
				<li>
					<a href="/user/{{user.username}}">编辑个人信息</a>
				</li>
				{% endif %}
			</ul>
		</div>
	</div>
{% endblock %}
