{% extends "base.html" %}
{% block style %}
<style>
.table thead {
	background-color: #eee;
}
</style>
{% endblock %}
{% block native_js %}
<script>
$(function(){
	highlightConflict();
});

function highlightConflict(){
	var conflictDict = {}
	$('#conflictTbl').children('tbody').find('tr td:nth-child(1)').each(function(i, v){
		conflictDict[v.innerHTML] = true;
	});
	$('#fileListTbl').children('tbody').find('tr td:nth-child(1)').each(function(i, v){
		if(conflictDict[v.innerHTML]){
			$(v).parent().addClass('error');
		}
	})
}
</script>
{% endblock %}
{% block content %}
<div class="wrap">
	<h2 style="text-align: center">补丁组详情</h2>
	<div style="width: 400px; text-align: left; margin: 30px auto 10px;">
		<table class="table table-bordered">
			<tbody>
				<tr>
					<td>补丁组名称:</td>
					<td>{{patch_group.name}}</td>
				</tr>
				<tr>
					<td>工程:</td>
					<td>{{patch_group.project.name}}</td>
				</tr>
				<tr>
					<td>创建者:</td>
					<td>{{patch_group.creator.username}}</td>
				</tr>
				<tr>
					<td>标识码:</td>
					<td>{{patch_group.check_code}}</td>
				</tr>
				<tr>
					<td>状态:</td>
					<td>{{patch_group.status}}</td>
				</tr>
				<tr>
					<td>创建时间:</td>
					<td>{{patch_group.formated_create_time}}</td>
				</tr>
				<tr>
					<td>完成时间:</td>
					<td>{{patch_group.formated_finish_time}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<div style="width: 800px; margin: 10px auto 10px;">
		<h3>已关联文件列表</h3>
		<table id="fileListTbl" class="table table-bordered table-condensed table-hover table-striped" style="width: 100%;">
			<thead>
				<tr><th>文件路径</th></tr>
			</thead>
			<tbody>
			{% for patch_file in patch_group.patch_files.all %}
				<tr>
					<td>{{patch_file.file_path}}</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		
		{% if patch_group_conflict_file_list %}
		<h3>文件冲突详情</h3>
		<table id="conflictTbl" class="table table-bordered table-condensed table-hover table-striped" style="width: 100%;">
			<thead>
				<tr>
					<th width="400">文件名</th>
					<th width="60">类型</th>
					<th width="150">冲突组名</th>
					<th width="60">组状态</th>
				</tr>
			</thead>
			<tbody>
			{% for conflict_file_info in patch_group_conflict_file_list %}
				<tr>
					<td>{{conflict_file_info.conflict_patch_file_path}}</td>
					<td>{{conflict_file_info.conflict_patch_file_type}}</td>
					<td>
						<a href="/patchGroupDetail/{{conflict_file_info.conflict_patch_group_id}}/" target="_blank">
						{{conflict_file_info.conflict_patch_group_name}}
						</a>
					</td>
					<td>测试中</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		{% endif %}
	</div>
</div>
{% endblock %}
