{% extends "base.html" %}
{% block style %}
<link type="text/css" rel="stylesheet" href="/static_files/css/dplPageBar.css"/>
<style>
	div.wrap {
		text-align: center;
		padding-top: 50px;
	}
	div.query_area {
		width: 500px;
		margin: 0px auto;
	}
	div.query_area table {
		width: 100%
	}
	div.query_area td {
		text-align: left;
	}
	div.query_area td.label {
		text-align: right;
	}
	div.query_area select {
		font-size: 16px;
		width: 155px;
	}
	div.list_area {
		width: 1100px;
		margin: 30px auto 50px;
	}
	#list_tbl {
		width: 100%;
	}
</style>
{% endblock %}

{% block native_js %}
<script type="text/javascript" src="/static_files/js/dplPageBar.js"></script>
<script>
$(function(){
	
	// 新的查询，必须保证是第一页
	$('#queryBtn').click(function(){
		var recordForm = $('#deploy_record_query_form');
		recordForm.attr({action: '/deployRecordList/1/'});
		recordForm.submit();
		return false;
	});
	
	// 清除查询条件，必须保证是第一页
	$('#clearQueryBtn').click(function(){
		$('#creatorName').val('');
		$('#patchGroupName').val('');
		$('#project').val(0);
		$('#status').val('');
		var recordForm = $('#patch_group_query_form');
		recordForm.attr({action: '/patchGroupList/1/'});
		recordForm.submit();
		return false;
	});
	
	// 初始化page bar
	var totalPage = parseInt('{{query_params.totalPage}}');
	isNaN(totalPage) && (totalPage = 1);
	var curPage = parseInt('{{query_params.curPage}}');
	isNaN(curPage) && (curPage = 1)
	var numPerPage = parseInt('{{query_params.numPerPage}}');
	isNaN(numPerPage) && (numPerPage = 20);
	new PageBar({
		totalPage: totalPage,
		pageBar: 'page_bar',
		curPageSiblingBtnNum: 3,
		curPage: curPage,
		numPerPage: numPerPage,
		maxBtnNum: 10,
		clickBtn: function(index){
			var recordForm = $('#patch_group_query_form');
			recordForm.attr({action: '/patchGroupList/'+ index + '/'});
			recordForm.submit();
			return false;
		}
	});
});
</script>
{% endblock %}

{% block content %}
<div class="wrap">
	<h2>补丁组列表</h2>
	<div class="query_area">
		<form method="post" action="." id="patch_group_query_form">
			{% csrf_token %}
			<table id="query_tbl">
				<tr>
					<td class="label">创建者:</td>
					<td>
						<input name="creatorName" id="creatorName" value="{{query_params.creatorName}}"/>
					</td>
					<td class="label">补丁组名:</td>
					<td>
						<input name="patchGroupName" id="patchGroupName" value="{{query_params.patchGroupName}}"/>
					</td>
				</tr>
				<tr>
					<td class="label">工程:</td>
					<td>
						<select name="project" id="project">
							<option value="0">全部</option>
							{% for project in projects %}
								<option value="{{project.id}}">{{project.name}}</option>
							{% endfor%}
						</select>
					</td>
					<td class="label">状态:</td>
					<td>
						<input name="status" id="status" value="{{query_params.status}}"/>
					</td>
				</tr>
				<tr>
					<td colspan="4" style="text-align: center;">
						<input type="button" value="  查询  " style="font-size:15px;" id="queryBtn"/>
						&nbsp;
						<input type="button" value="清空条件" style="font-size:15px;" id="clearQueryBtn"/>
					</td>
				</tr>
			</table>
		</form>
	</div>
	
	<hr>
	
	<div class="list_area">
		<div style="font-size:16px; float:left; padding-top: 10px;">
			<a style="font-weight: bold; text-decoration: none" href="###">+新增</a>
		</div>
<!-- 		<a style="font-size:16px; font-weight: bold; float:left;">新增</a> -->
		<div class="page_bar" id="page_bar" style="display:inline-block"></div>
		<br/>
		<table id="list_tbl" border="1" cellspacing="0">
			<tr>
				<th width="40">ID</th>
				<!--th width="120">工程名称</th-->
				<th width="180">补丁组名称</th>
				<th width="100">标识码</th>
				<th width="100">创建者</th>
				<th width="180">创建时间</th>
				<th width="180">完成时间</th>
				<th width="100">状态</th>
				<th>操作</th>
			</tr>
			{% for patch_group in patch_groups %}
			<tr>
				<td>{{patch_group.id}}</td>
				<td>{{patch_group.name}}</td>
				<td>{{patch_group.check_code}}</td>
				<td>{{patch_group.creator.username}}</td>
				<td>{{patch_group.formated_create_time}}</td>
				<td>{{patch_group.formated_finish_time}}</td>
				<td>{{patch_group.status}}</td>
				<td>
					<a href="/patchGroupDetail/{{patch_group.id}}/">详情</a>
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>
{% endblock %}
