{% extends "base.html" %}
{% block style %}
<style>
	div.wrap {
		text-align: center;
		padding-top: 50px;
	}
	div.sect_wrap {
		width: 750px;
		margin: 0px auto 50px;
	}
	.sect_title {
		float: left;
		font-size: 20px;
		font-weight: bold;
	}
	.sect_content {
		margin: 0px auto;
		overflow-y: scroll;
		font-size: 15px;
		width: 750px;
		height: 300px;
	}
	div.basic_info h3 {
		font-size: 20px;
	}
	
</style>
{% endblock %}
{% block native_js %}
<script>
$(function(){
	highlightConflict();
});

function highlightConflict(){
	var conflictDict = {}
	$('#conflictTbl').children('tbody').find('tr td:nth-child(1)').each(function(i, v){
		conflictDict[v.innerHTML] = true;
	});
	$('#fileListTbl').children('tbody').find('tr td:nth-child(1)').each(function(i, v){
		if(conflictDict[v.innerHTML]){
			v.style.backgroundColor = '#f88';
		}
	})
}
</script>
{% endblock %}
{% block content %}
<div class="wrap">
	<h2>补丁组详情</h2>
	<div class="basic_info">
		<h3>补丁组名称: {{patch_group.name}}</h3>
		<h3>工程: {{patch_group.project.name}}</h3>
		<h3>创建者: {{patch_group.creator.username}}</h3>
		<h3>标识码: {{patch_group.check_code}} </h3>
		<h3>状态: {{patch_group.status}}</h3>
		<h3>创建时间: {{patch_group.formated_create_time}}</h3>
		<h3>完成时间: {{patch_group.formated_finish_time}}</h3>
	</div>
	
	<div class="sect_wrap">
		<div class="sect_title">
			<label>已关联文件列表</label>
		</div>
		<br/>
		<div style="padding-top: 20px;" id="fileListWrap">
			<table id="fileListTbl" border="1" cellspacing="0" style="width: 750px; text-align: left">
				<thead>
					<tr><th>文件路径</th></tr>
				</thead>
				<tbody>
				{% for patch_file in patch_group.patch_files.all %}
					<tr>
						<td>{{patch_file.file_path}}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	
	{#% if record.is_conflict_with_others and conflict_detail %#}
	<div class="sect_wrap">
		<div class="sect_title" style="float:none; text-align: left; ">
			<label>文件冲突详情</label>
		</div>
		<div>
			<table id="conflictTbl" border="1" cellspacing="0">
				<thead>
					<tr>
						<th width="480">文件名</th>
						<th width="80">类型</th>
						<th width="150">冲突组名</th>
						<th width="90">组状态</th>
					</tr>
				</thead>
				<tbody>
				{% if conflict_info_list %}
					{% for conflict_info in conflict_info_list %}
						<tr>
							<td style="text-align: left;">{{conflict_info.conflict_patch_file.file_path}}</td>
							<td>{{conflict_info.conflict_patch_file.file_type}}</td>
							<td>{{conflict_info.conflict_patch_group.name}}</td>
							<td>{{conflict_info.conflict_patch_group.status}}</td>
						</tr>
					{% endfor %}
				{% endif %}
				</tbody>
			</table>
		</div>
	</div>
	{#% endif %#}


</div>
{% endblock %}
