{% extends "base.html" %}
{% block style %}
<style>
.alert {
	font-size: 16px;
}
#sourceFilenameWrap td {
	cursor: pointer;
}
#sourceFilenameWrap td.active {
	color: #fff;
	font-weight: bold;
	background-color: #ccc;
}
#logContent > br {
	font-size: 0px;
	line-height: 0px;
}
</style>

{% endblock %}

{% block native_js %}
<script>
function unescapeHtml(str){
	if(!str) {
		return str;
	}
	str = str.replace(/&amp;/g, '&');
	str = str.replace(/&quot;/g, '"');
	str = str.replace(/&lt;/g, '<');
	str = str.replace(/&gt;/g, '>');
	return str;
}
$(function(){
	var csrfToken = $('input[name=csrfmiddlewaretoken]').val();
	
	var $tdArr = $('#sourceFilenameWrap td');
	$tdArr.click(function(){
		$tdArr.removeClass('active');
		var $this = $(this).addClass('active');
		$('#sourceFilename').val($this.html());
	});
	
	$('#obtainResetItemBtn').click(function(){
		var $this = $(this);
		var $startResetBtn = $('#startResetBtn');
		$this.attr({disabled: true});
		$startResetBtn.attr({disabled: true});
		var isFinished = false;
		var sourceFilename = $('#sourceFilename').val();
		if(!sourceFilename) {
			alert('请选择备份源!');
			return;
		}
		var sizeUnits = ['byte', 'kb', 'MB', 'GB'];
		var $obtainResult = $('#obtainResult');
		var $curFileSize = $('#curFileSize');
		$.post('/obtainResetItem/', {
			projId: '{{project.id}}',
			recordId: '{{record.id}}',
			version: '{{version}},',
			sourceFilename: sourceFilename
		}, function(data){
			var result = null;
			try{
				result = $.parseJSON(data);
			} catch(e) {}
			isFinished = true;
			if(!result || result.isSuccess !== true) {
				showAlert($obtainResult, '备份源获取失败！ ' + result.errorMsg, 'error');
			} else {
				var size = result.size;
				for(i=0; i <=sizeUnits.length && size > 1024; size = (size/1024).toFixed(2), i++);
				var sizeStr = size + sizeUnits[i];
				var obtainResultMsg = '备份源 [' + result.filename +'][' + sizeStr + '] 获取成功!';
				showAlert($obtainResult, obtainResultMsg, 'success');
			}
			$curFileSize.hide();
			$obtainResult.show();
			$this.attr({disabled: false});
			$startResetBtn.attr({disabled: false});
		});
		$obtainResult.hide();
		showAlert($curFileSize, '', 'info', false);
		$curFileSize.show();
		readFileSize();
		function readFileSize(){
			$.get('/readFileSize/', {
				filepath: '/d/content/web-app-bak/ableskyapps/backupsources/' + sourceFilename
			}, function(data){
				if(isFinished === true) {
					return;
				}
				var result = null;
				try {
					result = $.parseJSON(data);
				} catch(e) {}
				if(result && result.isSuccess === true) {
					var size = result.size;
					for(i=0; i <=sizeUnits.length && size > 1024; size = (size/1024).toFixed(2), i++);
					var sizeStr = size + sizeUnits[i];
					$curFileSize.children('.alert-info').html('[' + sourceFilename +'][' + sizeStr + ']');
				}
			});
			if(isFinished !== true){
				setTimeout(readFileSize, 500);
			}
		}
	});
	
	$('#startResetBtn').click(function(){
		var $this = $(this);
		$this.html('重置发布中').attr({disabled: true});
		$.post('/startDeploy/', {
			recordId: '{{record.id}}',
			deployType: '{{deployType}}',
			deployDirect: 'reset'
		}, function(data){
			var result = null;
			try{
				result = $.parseJSON(data);
			}catch(e) {
			}
			if(!result || result.beginDeploy !== true){
				alert('重置发布启动失败!');
				failedInDeployProcess(result.errorMsg);
				return;
			}else{
				// 如果当前页面reset已启动，则不能再更换备份源
				$('#obtainResetItemBtn').unbind('click').click(function(){
					alert('本次发布流程已启动，无法再更改备份源文件!');
				}); 
				showAlert('deployStatus', '发布启动成功', 'info');
				$('#logContent').html('');
			}
			var logReadInterval = 1500;
			setTimeout(readLogOnRealtime, logReadInterval);
			function readLogOnRealtime(){
				$.getJSON('/readDeployLogOnRealtime/', {
					recordId: '{{record.id}}'
				}, function(data){
					if(!data){
						alert('日志实时读取出错了!');
						failedInDeployProcess();
						return;
					}
					if(data.isFinished === true){
						alert('重置发布已完成!');
						$('#startResetBtn').html('重置发布').attr({disabled: false});
						if(data.deployResult === true){
							showAlert('deployStatus', '重置发布成功', 'success');
						}else{
							showAlert('deployStatus', '重置发布失败', 'success');
						}
						return;
					}
					if(!data.isFinished){
						$logContent = $('#logContent');
						var newLogInfoArr = [];
						if(data.logInfo && data.logInfo.length){
							for(var i=0; i<data.logInfo.length; i++){
								newLogInfoArr.push(unescapeHtml(data.logInfo[i]));
							}
						}
						if(newLogInfoArr.length && newLogInfoArr[0]){
							$logContent.html($logContent.html() + newLogInfoArr.join('<br/>'));
						}
						$logContent.scrollTop($logContent[0].scrollHeight - $logContent.height());
						setTimeout(readLogOnRealtime, logReadInterval)
					}
				});
			}
		});
		
		function failedInDeployProcess(errorMsg){
			var tip = errorMsg? ' [ ' + errorMsg + ' ] ' : '';
			$('#startDeployBtn').html('重置发布').attr({disabled: false});
			showAlert('deployStatus', '重置发布失败，请重新发布' + tip, 'error');
		}
	});
	
	$('#unlockAndLeave').click(function(){
		if(!confirm('确认要解锁本次发布并离开?')){
			return;
		}
		window.onbeforeunload = null;
		location.href = '/unlockDeploy';
	});

});
window.onbeforeunload = function(){
	var alarmStr = '发布过程中，请不要离开!\n请点击 [ 取消 ] 或 [ 留在此页 ] ';
	if($.browser.mozilla === true && !confirm(alarmStr)){
		return false;
	}
	window.event.returnValue = alarmStr;
	return alarmStr;
};

// 查看磁盘挂载情况，如果挂载不上，给出提示
function checkServerStatusForProject(projectName){
	if(!projectName){
		alert('工程参数有误！');
		return;
	}
	$.getJSON('/checkServerStatusForProject/' + projectName + '/', function(serverStatus){
		if(!serverStatus){
			alert('磁盘挂载检查失败！')
			return;
		}
		if(serverStatus.available){
			if(serverStatus['servers'][0]['status'] == 'lackOfSpace'){
				var availSpace = serverStatus['servers'][0]['avail_space'];
				alert('/d/content空间已不足\n目前可用空间为' + availSpace);
			}
			return;
		}
		if(serverStatus.available === false){
			if(serverStatus.servers.length == 0){
				alert('工程名称或者配置信息有误！');
				return;
			}
			var msgArr = ['/d/content磁盘在以下服务器上挂载失败!'];
			for(var i=0, l = serverStatus.servers.length; i<l; i++){
				var server = serverStatus.servers[i];
				server.status == 'error' && msgArr.push(server.server_name + '挂载磁盘失败');
			}
			alert(msgArr.join('\n'));
			return;
		}
	});
}
$(function(){
	//checkServerStatusForProject('{{project.name}}');
});

function showAlert(wrap, msg, status, closable){
	var $wrap = $.type(wrap) == 'string'? $('#' + wrap): wrap;
	if($wrap.size() == 0) {
		return;
	}
	$wrap.empty();
	var $alert = $('<div class="alert">');
	$alert.html(msg);
	if(closable !== false) {
		$alert.prepend('<button type="button" class="close" data-dismiss="alert">&times;</button>');
	}
	if(status) {
		$alert.addClass('alert-' + status);
	}
	$wrap.append($alert);
}

</script>
{% endblock %}

{% block content %}
{% csrf_token %}
<div class="wrap">
	<h2 style="text-align: center;">重置工程</h2>
	<table class="table table-bordered" style="width: 450px; margin: 30px auto 10px;">
		<tbody>
			<tr>
				<td>发布工程:</td>
				<td>{{project.name}}</td>
			</tr>
			<tr>
				<td>版本号:</td>
				<td>{{version}}</td>
			</tr>
			<tr>
				<td>发布方式:</td>
				<td>{{deployType}}</td>
			</tr>
		</tbody>
	</table>
	
	<div style="width: 800px; text-align: left; margin: 30px auto 10px;">
		<h3>选择备份源</h3>
		<div id="sourceFilenameWrap" style="margin-bottom: 20px;">
			<table class="table table-bordered table-striped table-hover" style="text-align: center; margin: 0px auto; font-size: 16px;">
				<tbody>
					{% for source_filename in new_backup_source_list %}
						<tr><td>{{source_filename}}</td></tr>
					{% endfor%}
				</tbody>
			</table>
			<input type="hidden" value="" id="sourceFilename" />
		</div>
		
		<div id="obtainResult" style="display:none; text-align: center;"></div>
		<div id="curFileSize" style="display: none; text-align: center;"></div>
		
		<div id="resetBtnWrap" style="text-align: center; margin-top: 20px;">
			<button id="obtainResetItemBtn" type="button" class="btn btn-primary" style="margin: 0px 10px;">获取备份源</button>
			<button id="startResetBtn" type="button" class="btn btn-inverse" style="margin: 0px 10px;">重置发布</button>
			<div style="margin-top: 20px;" id="deployStatus"></div>
		</div>
		
		<!-- 文件冲突列表 -->
		<h3>日志</h3>
		<pre id="logContent" style="width: 781px; height: 400px; overflow: auto; font-size: 15px;"></pre>
		<div style="text-align: center; margin: 30px auto;">
			<button type="button" class="btn btn-primary" id="unlockAndLeave">解锁并返回首页</button>
		</div>
	</div>
</div>

{% endblock %}
