{% extends "base.html" %}
{% block style %}
<style>
	div.wrap {
		text-align: center;
		padding-top: 50px;
		width: 800px;
		margin: 0px auto;
		position: relative;
	}
	div.sect_wrap {
		width: 800px;
		text-align: left;
		margin: 0px auto 20px;
	}
	div.sect_wrap input {
		font-size: 16px;
	}
	div.sect_wrap label {
		display: inline-block;
		width: 150px;
		font-size: 20px;
	}
	div.sect_wrap textarea {
		font-size: 20px;
		width: 800px;
		height: 200px;
	}
	ul.deploy_init_info {
		list-style: none;
		font-size: 20px;
		margin: 0px;
		padding: 0px;
		display: inline-block;
		width: 600px;
	}
	div.upload_area .desc {
		font-size: 20px;
	}

	.second_wrap {
		width: 800px;
		margin: 0px auto;
		background-color: #fff;
	}
	#instruction {
		position: absolute; 
		width: 300px; 
		top: 120px;
		border: 1px solid #333;
		z-index: -1;
	}
	#instructionHandler {
		position: absolute; 
		width: 30px; 
		height: 110px; 
		border: 1px solid #333; 
		left: -34px; 
		font-size: 20px;
		background-color: #ccc;
		padding-top: 10px;
		top: 120px;
		cursor: pointer;
		border-radius: 10px 0px 0px 10px;
	}
	#instructionUl {
		text-align: left;
		font-size: 20px;
		padding-right: 20px;
	}
	#instructionUl li {
		margin-bottom: 10px;
	}
	
	ul.option_wrap {
		padding: 0px;
		width: 800px;
		list-style: none;
		border: 1px solid #333;
	}
	
	ul.option_wrap li {
		font-size: 20px;
		padding: 5px;
		margin: 0px;
		cursor: pointer;
	}
</style>
{% endblock %}

{% block native_js %}
<script>
(function($){
    $.fn.preventScroll = function(){
        var _this = this.get(0);
        if($.browser.mozilla){
            _this.addEventListener('DOMMouseScroll',function(e){
                _this.scrollTop += e.detail > 0 ? 60 : -60;   
                e.preventDefault();
            },false); 
        }else{
            _this.onmousewheel = function(e){   
                e = e || window.event;   
                _this.scrollTop += e.wheelDelta > 0 ? -60 : 60;   
                e.returnValue = false  
            };
        }
        return this;
    };
})(jQuery);
$(function(){
	var csrfToken = $('input[name=csrfmiddlewaretoken]').val();
	
	$liArr = $('#source_filename_wrap').children('li')
		.filter(':nth-child(2n+1)').css({'backgroundColor': '#eee'})
		.end();
	$liArr.click(function(){
		$liArr.css({backgroundColor: '', color: '', fontWeight: ''})
			.filter(':nth-child(2n+1)').css({'backgroundColor': '#eee'});
		var $this = $(this).css({backgroundColor: '#999', color: '#fff', fontWeight: 'bolder'});
		var sourceFilename = $this.html();
		$('#sourceFilename').val(sourceFilename);
	});
	
	$('#obtainResetItemBtn').click(function(){
		var $this = $(this);
		$this.attr({disabled: true});
		$.post('/obtainResetItem/', {
			projId: '{{project.id}}',
			recordId: '{{record.id}}',
			version: '{{version}},',
			sourceFilename: $('#sourceFilename').val()
		}, function(data){
			var result = null;
			try{
				result = $.parseJSON(data);
			} catch(e) {}
			
			if(!result || result.isSuccess !== true) {
				$('#obtainResult').html(result.errorMsg).css({color: 'red'});
				alert('备份源获取失败！');
			} else {
				$('#obtainResult').html('备份源 [ ' + result.filename +' ] 获取成功!').css({color: 'green'});
				alert('备份源获取成功!');
			}
			$this.attr({disabled: false});
		})
	});
	
	$('#startResetBtn').click(function(){
		$.post('/startDeploy/', {
			recordId: '{{record.id}}',
			deployType: '{{deployType}}',
		}, function(data){
			var result = null;
			try{
				result = $.parseJSON(data);
			}catch(e) {
			}
			if(!result || result.beginDeploy !== true){
				alert('重置发布启动失败!');
				failedInDeployProcess(result.errorMsg);
				return;
			}else{
				$('#startResetBtn').val('重置发布中').attr({disabled: true});
				$('#deployStatus').html('重置发布启动成功').css({color: 'green'});
				$('#logContent').val('');
			}
			var logReadInterval = 1500;
			setTimeout(readLogOnRealtime, logReadInterval);
			function readLogOnRealtime(){
				$.getJSON('/readDeployLogOnRealtime/', {
					recordId: '{{record.id}}'
				}, function(data){
					if(!data){
						alert('日志实时读取出错了!');
						failedInDeployProcess();
						return;
					}
					if(data.isFinished === true){
						alert('重置发布已完成!');
						$('#startDeployBtn').val('重置发布').attr({disabled: false});
						if(data.deployResult === true){
							$('#deployStatus').html('重置发布成功').css({color: 'green'});
						}else{
							$('#deployStatus').html('重置发布失败').css({color: 'red'});
						}
						return;
					}
					if(!data.isFinished){
						$logContent = $('#logContent');
						var newLogInfoArr = [];
						if(data.logInfo && data.logInfo.length){
							for(var i=0; i<data.logInfo.length; i++){
								newLogInfoArr.push(data.logInfo[i]);
							}
						}
						$logContent.val($logContent.val() + newLogInfoArr.join(''));
						$logContent.scrollTop($logContent[0].scrollHeight - $logContent.height());
						setTimeout(readLogOnRealtime, logReadInterval)
					}
				});
			}
		});
		
		function failedInDeployProcess(errorMsg){
			var tip = errorMsg? ' [ ' + errorMsg + ' ] ' : '';
			$('#startDeployBtn').val('重置发布').attr({disabled: false});
			$('#deployStatus').html('重置发布失败，请重新发布' + tip).css({color: 'red'});
		}
	});
	
	$('#unlockAndLeave').click(function(){
		if(!confirm('确认要解锁本次发布并离开?')){
			return;
		}
		window.onbeforeunload = null;
		location.href = '/unlockDeploy';
	});

	// 注意事项
	(function(){
		var initTop = 120,
			initHandlerLeft = -34,
			$instruction = $('#instruction'),
			$instructionHandler = $('#instructionHandler');
		function slideAction(event){
			var $this = $(document);
			var top = $this.scrollTop() + initTop,
				docHeight = document.documentElement.clientHeight;
			if(top + $instruction.height() > docHeight + $this.scrollTop()){
				top = docHeight + $this.scrollTop() - $instruction.height() - 30;
				top < initTop && (top = initTop);
			}
			$instruction.stop().animate({
				top: top
			});
			$instructionHandler.stop().animate({
				top: top
			})
		}
		window.onscroll = slideAction;
		window.onresize = slideAction;
		
		// 不会布局造成的麻烦
		$instructionHandler.toggle(function(){
			$instruction.animate({left: -304});
			$instructionHandler.animate({left: -304 + initHandlerLeft})
			$instructionHandler.html('收起提示');
		}, function(){
			$instruction.animate({left: 0});
			$instructionHandler.animate({left: initHandlerLeft});
			$instructionHandler.html('注意事项');
		});
	})();
	
});
window.onbeforeunload = function(){
	var alarmStr = '发布过程中，请不要离开!\n请点击 [ 取消 ] 或 [ 留在此页 ] ';
	if($.browser.mozilla === true && !confirm(alarmStr)){
		return false;
	}
	window.event.returnValue = alarmStr;
	return alarmStr;
};

// 查看磁盘挂载情况，如果挂载不上，给出提示
function checkServerStatusForProject(projectName){
	if(!projectName){
		alert('工程参数有误！');
		return;
	}
	$.getJSON('/checkServerStatusForProject/' + projectName + '/', function(serverStatus){
		if(!serverStatus){
			alert('磁盘挂载检查失败！')
			return;
		}
		if(serverStatus.available){
			if(serverStatus['servers'][0]['status'] == 'lackOfSpace'){
				var availSpace = serverStatus['servers'][0]['avail_space'];
				alert('/d/content空间已不足\n目前可用空间为' + availSpace);
			}
			return;
		}
		if(serverStatus.available === false){
			if(serverStatus.servers.length == 0){
				alert('工程名称或者配置信息有误！');
				return;
			}
			var msgArr = ['/d/content磁盘在以下服务器上挂载失败!'];
			for(var i=0, l = serverStatus.servers.length; i<l; i++){
				var server = serverStatus.servers[i];
				server.status == 'error' && msgArr.push(server.server_name + '挂载磁盘失败');
			}
			alert(msgArr.join('\n'));
			return;
		}
	});
}
$(function(){
	//checkServerStatusForProject('{{project.name}}');
});
</script>
{% endblock %}

{% block content %}
{% csrf_token %}
<div class="wrap" id="firstWrap">
	<div id="instruction" >
		<ul id="instructionUl">
			<li>版本发布只能上传war包。</li>
			<li>补丁发布只能上传zip压缩文件。</li>
			<li>补丁的文件名请以“<b style="color:red">-todo</b>”或“<b style="color:red">-pending</b>”结尾。</li>
			<li>进行发布或回滚的过程中，请不要离开此页面或进行解锁操作。</li>
			<li>请不要在补丁中使用中文做文件名。</li>
			<li>发布完成后，除了页面弹出框的提示，还要依据log的内容来判断发布是否成功。</li>
			<li>离开此页面时，请记得解锁。如果没有解锁，可在首页进行解锁操作。</li>
		</ul>
	</div>
	<div id="secondWrap" class="second_wrap">
		<div id="instructionHandler">
			注意事项
		</div>
		<h2>发布工程</h2>
		<div class="sect_wrap">
			<ul class="deploy_init_info">
				<li>发布工程: <b>{{project.name}}</b></li>
				<li>版&nbsp;本&nbsp;号: <b>{{version}}</b></li>
				<li>发布方式: <b>{{deployType}}</b></li>
			</ul>
			<br/>
			<div class="upload_area">
				<br/>
				<label>选择备份源:</label>
				<div id="source_select_area">
					<ul id="source_filename_wrap" class="option_wrap">
					{% for source_filename in new_backup_source_list %}
						<li>{{source_filename}}</li>
					{% endfor%}
					</ul>
				</div>
				<input type="hidden" value="" id="sourceFilename" />
				<input type="button" value="获取备份源" id="obtainResetItemBtn" />
				<span style="font-size: 20px;" id="obtainResult"></span>
			</div>
		</div>
		<div class="sect_wrap">
			<div class="check_area">
				<div style="padding-top: 20px;">
					<input type="button" value="重置发布" id="startResetBtn"/>
					<span style="font-size: 20px;" id="deployStatus"></span>
				</div>
				<div style="padding-top: 20px;">
					<label>LOG</label>
					<br/>
					<textarea id="logContent" readonly="readonly" style="height: 400px;"></textarea>
				</div>
				<div style="padding-top: 20px;">
					<input type="button" id="unlockAndLeave" value="解锁并返回首页"/>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
