<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link style="text/css" rel="stylesheet" href="/static_files/css/style.css" />
<link rel="stylesheet" href="/static_files/css/bootstrap.min.css" />
<link rel="stylesheet" href="/static_files/css/custom-theme/jquery-ui-1.10.0.custom.css"/>
<style>
body {
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}
.wrap {
	width: 450px;
	height: 330px;
	margin: 0px auto 0px;
}
form label {
	font-size: 18px;
}
h2, h3{
	font-family: "微软雅黑";
}
</style>
<script type="text/javascript" src="/static_files/js/jquery.js"></script>
<script src="/static_files/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static_files/js/ajaxsetup_for_django.js"></script>
<script>
$(function(){
	$('#submitBtn').on('click', function(){
		var me = this;
		var params = getPatchGroupParams();
		if(!params){
			return;
		}
		me.disabled = true;
		$.post('.', params, function(data){
			var result = null;
			try{
				result = $.parseJSON(data);
			}catch(e) {
			}
			if(result.isSuccess === true){
				alert('补丁组保存成功!');
				opener.reloadPage();
				window.close();
			} else {
				alert('补丁组保存失败!')
			}
			me.disabled = false;
		})
	});
	$('#status').val('{{patch_group.status}}')
});
function getPatchGroupParams(){
	var nameRe = /.+/,
		checkCodeRe = /[a-zA-Z0-9]+/;
	var name = $('#name').val(),
		checkCode = $('#check_code').val(),
		status = $('#status').val(),
		projectId = $('#projectId').val();
	if(!nameRe.test(name)){
		alert('补丁组名称不能为空!');
		return null;
	}
	if(!checkCodeRe.test(checkCode)){
		alert('标识码不合法！');
		return null;
	}
	return {
		name: name,
		check_code: checkCode,
		status: status,
		project_id: projectId
	};
}
</script>
</head>
<body>
<div class="wrap">
	<h3 style="text-align: center">
		{% if not patch_group.id %}新增{% else %}修改{%endif%}补丁组
	</h3>
	<div style="margin-top:20px; margin-left:-10px;">
		<form class="form-horizontal">
			{% if patch_group.id %}
			<div class="control-group">
				<label class="control-label"><strong>ID:</strong></label>
				<div class="controls">
			    	<input disabled="disabled" type="text" name="id" id="id" value="{{patch_group.id}}">
			    </div>
			</div>
			{% endif %}
			<input type="hidden" id="projectId" name="projectId" value="1"/>
			<div class="control-group">
				<label class="control-label"><strong>补丁组名称:</strong></label>
				<div class="controls">
			    	<input type="text" name="name" id="name" value="{{patch_group.name}}">
			    </div>
			</div>
			<div class="control-group">
				<label class="control-label"><strong>标识码:</strong></label>
				<div class="controls">
			    	<input type="text" name="check_code" id="check_code"  value="{{patch_group.check_code}}">
			    </div>
			</div>
			<div class="control-group">
				<label class="control-label"><strong>状态:</strong></label>
				<div class="controls">
			    	<select name="status" id="status" style="width: 100px; font-size: 16px;">
					{% if not patch_group.id %}
					<option value="created">创建</option>
					{% endif %}
					<option value="testing">测试</option>
					{% if patch_group.id %}
					<option value="stoped">停止</option>
					{% endif %}
				</select>
			    </div>
			</div>
			<div class="control-group">
				<div class="controls">
					<button type="button" class="btn btn-primary" id="submitBtn">&nbsp;提&nbsp;&nbsp;交&nbsp;</button>
				</div>
			</div>
		</form>
		
	</div>
</div>	
</body>
</html>
