#nav {
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	font-size: 16px;
}

#nav .env_logo {
	font-weight: bolder;
	font-size: 25px;
	cursor: pointer;
}

table {
	border-color: #ccc;
}

h2, h3{
	font-family: "微软雅黑";
}

#top_nav.navbar .nav > li > a {
	padding-left:10px;
	padding-right:10px;
}
